@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.loaderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width: auto;
  background-color: rgb(0, 0, 0);
  margin: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  user-select: none;
  color: #fff;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  mask: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent 6px,
    black 7px,
    black 8px
  );
}

.loaderAfter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(circle at 50% 50%, #ffd8d8 0%, transparent 50%),
    radial-gradient(circle at 45% 45%, #f7cccc 0%, transparent 45%),
    radial-gradient(circle at 55% 55%, #ffffff 0%, transparent 45%),
    radial-gradient(circle at 45% 55%, #f8d7d7 0%, transparent 45%),
    radial-gradient(circle at 55% 45%, #ffdada 0%, transparent 45%);
  mask: radial-gradient(
    circle at 50% 50%,
    transparent 0%,
    transparent 10%,
    black 25%
  );
  animation:
    transformAnimation 2s infinite alternate,
    opacityAnimation 4s infinite;
  animation-timing-function: cubic-bezier(0.6, 0.8, 0.5, 1);
}

@keyframes transformAnimation {
  0% {
    transform: translate(-55%);
  }
  100% {
    transform: translate(55%);
  }
}

@keyframes opacityAnimation {
  0%,
  100% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
}

.loaderLetter {
  display: inline-block;
  opacity: 0;
  animation: loaderLetterAnim 4s infinite linear;
  z-index: 2;
}

@keyframes loaderLetterAnim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    text-shadow: 0 0 4px #fff;
    transform: scale(1.1) translateY(-2px);
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}